* {
    font-family: montserrat;
}

body {
    align-items: center;
    justify-content: center;
}

/*ELEMENTOS DO QUIZ*/

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    flex-direction: row;
    width: 50vw;
    height: 8vw;
    margin: 0 auto;
    font-size: 3vw;
}

main {
    background-color: #D3D3D3;
    border-radius: 0.75vw;
    border: 0.25vw solid #b6b6b6;
    padding: 1.75vw;
    max-width: 70%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.questionNumber {
    text-align: center;
    width: 5vw;
    height: 3vw;
    margin-left: 57vw;
    margin-top: 1vw;
    font-size: 2.5vw;
    color: solid black;
    border-radius: 10vw;
    border: 0.3vw solid black;
    padding: 0.5vw;
    background-color: #b6b6b6;
    font-weight: bold;
}

.content {
    display: none;
    flex-direction: column;
    width: 70%;
}

.question {
    display: flex;
    text-align: center;
    margin-left: 7vw;
    margin-bottom: 4vw;
    font-size: 2.5vw;
    width: 100%;
}

.options{
    display: inline;
    border: none;
    cursor: pointer;
}

.options button {
    border: 0.4vw solid black;
    border-radius: 0.5vw;
    margin-left: 5vw;
    margin-bottom: 3vw;
    font-size: 2vw;
    width: 53vw;
    height: 6vw;
}

.finish {
    margin-top: 2vw;
    font-size: 3vw;
    display: none;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.finish button{
    border: 0.4vw solid black;
    border-radius: 0.75vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5vw;
    width: 15vw;
    height: 6vw;
}

.start {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start button {
    font-size: 2.5vw;
    border-radius: 10vw;
    width: 20vw;
    height: 5vw;
    margin: 0 auto;
}

.resposta {
    display: none;
    text-align: justify;
    margin-bottom: 3vw;
    margin-top: 2vw;
    font-size: 2.25vw;
}

.respBtn {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
}

button:hover {
    background-color: #D3D3D3;
}

button{
    height: 5vw;
    width: 13vw;
    margin-top: 3vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
    background-color: #b6b6b6;
    border-radius: 0.1vw;
    font-size: 1.5vw;
    cursor: pointer;
    color: black;
    text-align: center;
}

/*------*/

/*BOTAO PARA ENTRAR NO QUIZ*/
#bloco{
    display: inline;
    margin-left: 1.25vw;
    padding: 0.75vw;
    width: 4vw;
    background-color: #3e3e3e;
    border-radius: 1vw;
}
#bloco-quiz{
    text-decoration: none;
    color: white;
    text-align: center;
}
/*------------------------*/

@media (max-width: 720px) {

    /*botao para ir no quiz cllr*/
    #bloco{ 
        width: 9vw;
    }

    #bloco-quiz{
        padding-left: 0.25vw;
    }
    
    /*QUIZ CLLR*/
    main{
        background-color: #D3D3D3;
        border-radius: 10px;
        border: 0.25vw solid #b6b6b6;
        padding: 1.75vw;
        max-width: 85%;
        margin: 0 auto;
        margin-bottom: 20vw;
    }

    h2 {
        font-size: 3.5vw;
    }

    .titulo{
        width: 70vw;
        margin-bottom: 5vw;
    }

    .start {
        margin-top: 8vw;
        margin-bottom: 8vw;
    }

    .questionNumber {
        margin-left: 70vw;
        margin-bottom: 3vw;
    }

    .question {
        margin-left: 15vw;
        justify-content: center;
        width: 52vw;
    }

    .options {
        margin-left: 9vw;
    }
    
    button{
        height: 6vw;
        width: 14vw;
        margin-top: 1vw;
        margin-left: 3.5vw;
        margin-bottom: 1vw;
        border-radius: 1vw;
        font-size: 1.5vw;
    }
    
    .finish button {
        margin-top: 5vw;
    }
    /*--------*/
}